body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 5px 0 0;
    font-size: 1rem;
    font-weight: 300;
}

main {
    padding: 40px;
}

#characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.character {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    /*  transición */
    text-align: center;
}

.character:hover {
    transform: scale(1.1) rotate(3deg);
    /* Añadi una rotacion  */
    cursor: pointer;
    border: 2px solid #0e110f;
    box-shadow: 0 0 20px #53ff11, 0 0 30px #53ff11, 0 0 40px #53ff11;
    /* Efecto de neón */
}

.character img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    /* efecto ala imagen */
}

.character:hover img {
    transform: scale(1.1);
    /* Efecto de zoom */
}


.character h3 {
    margin: 15px 0;
    font-size: 1.5rem;
    color: #282c34;

}

.character p {
    margin: 5px 0;
    color: #555;

}


.btn-hide {
    display: none;
}

.btn-show {
    margin-top: 10px;
    display: inline;
    height: 30px;
    background: #53ff11;
    box-shadow: 2px 5px 5px black;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

.btn-show:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 2px black;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
    /**holis chicos*/
}

/* para el inputd de busqueda */
/* Estilo para el input de búsqueda */
#search-input {
    width: 50%;
    max-width: 50%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

#search-input:focus {
    border-color: #007bff;
    outline: none;
}